/* Fonts */
@font-face {
    font-family: 'aleoregular';
    src: url('/fonts/aleo-regular-webfont.eot');
    src: url('/fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aleo-regular-webfont.woff') format('woff'),
         url('/fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('/fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleobold';
    src: url('/fonts/aleo-bold-webfont.eot');
    src: url('/fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aleo-bold-webfont.woff') format('woff'),
         url('/fonts/aleo-bold-webfont.ttf') format('truetype'),
         url('/fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?-unjzo4');
    src: url('/fonts/icomoon.eot?#iefix-unjzo4') format('embedded-opentype'),
         url('/fonts/icomoon.woff?-unjzo4') format('woff'),
         url('/fonts/icomoon.ttf?-unjzo4') format('truetype'),
         url('/fonts/icomoon.svg?-unjzo4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-family: "Lato", "Lato Light", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1{ font-size: 2em; margin: 0.3em 0 0.5em;}
.h2{ font-size: 2em; margin: 0.2em 0 0.4em;}
.h3{ font-size: 1.5em; margin: 0.2em 0 0.4em;}
.h4{ font-size: 1em; margin: 0.1em 0 0.3em;}
.h5{ font-size: 0.9em;  margin: 0em 0 0.15em;}
.h6{ font-size: 0.8em;  margin: 0em 0 0.1em;}


/* Colors
$black: #1f2021;
$white: #fdf9f9;
$green: #48B856;
$red: #F01440;
$orange: #FB5F0A;
$blue: #00C9FF;
$yellow: #fef200;
$purple: #8B0AFB;
$brandGreen: #1befa2;
*/


/* Background texture */
html, body{
    font-family: "Lato", "Lato Light", "Helvetica", sans-serif;
    background: black url("/img/bkg-1.jpg") repeat 0 0;
    color: #DEDEDE;
}

/* Links */
.link{
    color: #1befa2;
    text-decoration: none;
}
.link:hover{
    color: #fef200;
}
a:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}


/* Layouts */
/* ---------------------------------------------------------
 *  1- Positioning Classes
 */

.l-block    {display: block !important;}
.l-iblock   {display: inline-block !important;}
.l-inline   {display: inline !important;}

.l-right    {float:right;}
.l-left     {float:left;}
.l-center   {margin: 0 auto !important;}


/* ---------------------------------------------------------
 *  2- Font related
 */

.left-aligned   {text-align: left;}
.right-aligned  {text-align: right;}
.center-aligned {text-align: center;}

.f-upper{text-transform: uppercase; }
.f-light{font-weight: 400;}
.f-bold{font-weight: 800;}

.is-hidden {display: none !important;}


/* ---------------------------------------------------------
 *  3- Lists
 */

.plain-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.inline-list{
    list-style: none;
    margin: 0;
}
.inline-list .item{
    float: left;
    margin-right: 0.5em;
}


/* ---------------------------------------------------------
 *  4- Page Layout
 */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

@media (max-width: 330px) {
    .container {
        padding: 0 1em;
    }
}

/*
Media objects
Source: http://stubbornella.org/content/?p=497
--------------------------------------------------
*/
.Media {
  display: flex;
  align-items: flex-start;
}

.Media-figure {
  margin-right: 1em;
}

.Media-body {
  flex: 1;
}

/*
Common styles
-------------------------
Clear the floats
*/
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

/*Proper spacing between instances of .media */
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .l-left {
  margin-right: 10px;
}
.media > .l-right {
  margin-left: 10px;
}

.media-list {
  margin-left: 0;
  list-style: none;
}

/* UTILS */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden, .is-hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*  Standard Media Object   */
.media, .body{ overflow: hidden;}
.img{float: left; margin-right: 20px;}
.img img {display: block;}



/* Header */
.header {
    text-align:left;
}

.logo{
    background: url("../img/logo.png") no-repeat 0 0;
    width: 140px;
    height: 84px;
    float: left;
}
.link{
    text-decoration: none;

}
.link.logo-link{
    display: inline-block;
}

.header-inner{
    padding: 40px 0 20px;
}
.header-bd .nav-wrapper{
    float: left;
}
.header-bd .logo-wrapper{
    width: 50%;
}
.header-bd .nav-wrapper{
    width: 50%;
}
.header-bd .header-title{
    font-size: 1.4em;
    color: $white;
    text-transform: uppercase;
    float: left;
    margin: 0 0 0 0.5em;
    padding-top: 30px;
}
.header-bd .header-subtitle{
    font-size: 0.83em;
    color: $brandGreen;
    display: block;
    text-transform: none;
}

@media (max-width: 1200px) {}
@media (max-width: 980px) {
    .header .header-inner{
        padding: 30px 0 20px;
    }
}

@media (max-width: 767px) {
    .header .header-inner{
        padding: 20px 0;
    }
    .header .header-bd .logo-wrapper{
        width: 80%;
    }
}
@media only screen and (max-width: 565px){
    .header .header-bd .logo-wrapper{
       width: 100%;
    }
}

@media (max-width: 480px) {
    .header .logo{
        width: 100px;
        background-size: contain;
    }
    .header .header-bd .header-title{
        padding-top: 21px;
        font-size: 1em;
    }
}
@media (max-width: 335px) {
    .header .header-inner {
        padding: 20px 0 0;
    }
    .header .logo{
        width: 80px;
        height: 60px;
        background-size: contain;
    }
    .header .header-bd .header-title{
        padding-top: 13px;
    }
}


/* Footer */
.footer {
    position: fixed;
    left: 1em;
    bottom: 0;
    display: inline-block;
    width: auto;

    text-align: left;

}
.footer-social {
    padding: 0;
    line-height: 70px;

}
.footer-social .link {
    font-size: 2em;
    padding-right: 0.2em;
}

@media (max-width: 540px){
    body{
        margin: 0;
    }
    .footer{
        position: static;
        margin-top: 20px;
        margin-left: 2em;
    }
}


/* Icons */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
    content: "\e604";
}
.icon-facebook2:before {
    content: "\e605";
}
.icon-facebook:before {
    content: "\e606";
}
.icon-twitter:before {
    content: "\e607";
}
.icon-github:before {
    content: "\e608";
}
.icon-googleplus2:before {
    content: "\e600";
}
.icon-twitter2:before {
    content: "\e601";
}
.icon-github2:before {
    content: "\e602";
}
.icon-linkedin:before {
    content: "\e603";
}
.icon-twitter3:before {
    content: "\f099";
}
.icon-facebook3:before {
    content: "\f09a";
}
.icon-googleplus3:before {
    content: "\f0d5";
}
.icon-linkedin3:before {
    content: "\f0e1";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-github3:before {
    content: "\f1d3";
}
